<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<hr/>
<p>
En esta pantalla pudes agregar los datos de los usuarios para la creación de su firma de correo electrónico.</p>
<p><strong>No es necesario que hagas ningún tipo de codificación al introducir datos. Cuando modifique datos hay que eliminar la codificación y teclear de nuevo el texto.</strong></p>
  <div class="field">
    <%= f.label :userid, "Nombre de usuario (UserId)" %><br />
    <%= f.text_field :userid %>
  </div>
  <div class="field">
    <%= f.label :hide_picture, "Ocultar Fotografia"%><br/>
    <%= f.select :hide_picture, [['No',0],['Si',1]] %>
    </div>
  <div class="field">
    <%= f.label :name, "Nombre:" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position, "Puesto:" %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field", "Otro Teléfono:">
    <%= f.label :other_phone %><br />
    <%= f.text_field :other_phone %>
  </div>
  <div class="field">
    <%= f.label :cell_phone, "Célular" %><br />
    <%= f.text_field :cell_phone %>
  </div>
  <div class="field", "Nextel:">
    <%= f.label :nextel %><br />
    <%= f.text_field :nextel %>
  </div>
  <div class="field", "Nextel ID:">
    <%= f.label :radio %><br />
    <%= f.text_field :radio %>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
<% end %>
