<h1>Recursos<hr/></h1>
<p>Esta lista contiene los Recursos Humanos con los que cuenta la empresa</p>
<div>
<table border="1" width="100%   ">
  <tr>
    <th>Usuario</th>
    <th>Nombre</th>
    <th>Puesto</th>
    <th colspan="2">Acciones</th>

  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td align="center"><img src="http://www.cbacueducto.com.mx/images/signatures/<%= employee.userid %>.png"/></td>
    <td><%= link_to raw(employee.name), employee %></td>
    <td><%= raw(employee.position) %></td>
    <td align="center"><%= link_to 'Editar', edit_employee_path(employee) %></td>
    <td align="center"><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: 'Estas seguro de que deseas borrar este recurso?' } %></td>
  </tr>
<% end %>
</table>
<div>
<br />

<%= link_to 'Nuevo recurso...', new_employee_path %>
