<h1>Recursos<hr/></h1>
<p>Esta lista contiene los Recursos Humanos con los que cuenta la empresa</p>
<div>
<table border="1" width="100%   ">
  <tr>
    <th>Userid</th>
    <th>Name</th>
    <th>Position</th>
    <th>Other phone</th>
    <th>Cell phone</th>
    <th>Nextel</th>
    <th>Radio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><img src="http://www.cbacueducto.com.mx/images/signatures/<%= employee.userid %>.png"/></td>
    <td><%= employee.name %></td>
    <td><%= employee.position %></td>
    <td><%= employee.other_phone %></td>
    <td><%= employee.cell_phone %></td>
    <td><%= employee.nextel %></td>
    <td><%= employee.radio %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<div>
<br />

<%= link_to 'Nuevo recurso...', new_employee_path %>
